@charset "UTF-8";
/* Блок подключения шрифтов (Regular -> Bold -> Italic) */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
}
/* Блок подключения шрифтов *//*# sourceMappingURL=fonts.css.map */