@charset "UTF-8";
@import url("fonts.css");
@import url("normalize.css");
@import url("reset.css");
/* Общие стили */
.regular_text {
  text-align: center;
  font-family: Montserrat-Regular;
}

.regular_text--titles {
  font-size: 24px;
  font-family: Montserrat-Bold;
}

.regular_text--table_titles {
  font-size: 16px;
  font-family: Montserrat-Bold;
}

.regular_text--inputs {
  font-size: 16px;
  font-family: Montserrat-Regular;
}

.regular_text--advices {
  font-size: 14px;
  font-family: Montserrat-Light;
}

#to_exit-button {
  background-color: #BE0505;
  color: white;
  border: 0;
  width: 100%;
}

.regular_button {
  background-color: #D9D9D9;
  border: 0;
}
.regular_button:hover {
  background-color: rgba(39, 52, 61, 0.25);
}

#to_exit-button:hover {
  background-color: red;
}

a {
  color: black;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 0.8rem solid rgba(39, 52, 61, 0.25);
}
body #error_page--auth {
  margin: 0;
  background-color: darkgrey;
}
body .error_notice {
  padding: 2%;
  background-color: rgba(202, 43, 43, 0.6);
  text-align: center;
}
body .error_notice h2 {
  color: whitesmoke;
  margin-bottom: 4%;
}
body .error_notice h3 {
  color: white;
}
body header {
  margin-bottom: 2%;
  background-color: #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
}
body header #logotype {
  max-height: 48px;
  max-width: 48px;
}
body header .logo_with_descrptn, body header .advice_in_header {
  display: flex;
  align-items: center;
}
body header .logo_with_descrptn {
  justify-content: space-between;
  flex-grow: 0.05;
}
body header .logo_with_descrptn #description {
  font-family: Montserrat-Bold;
}
body header .logo_with_descrptn img {
  margin-right: 2%;
}
body header .page_pointer {
  font-size: 24px;
  display: flex;
  flex-grow: 0.5;
  align-items: center;
}
body header .page_pointer--state {
  color: #0B7AE0;
}
body #about_me {
  justify-content: space-between;
  align-items: flex-start;
}
body #about_me .user_info {
  margin-right: 4%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}
body #about_me .user_info img {
  margin-bottom: 5%;
  max-height: 250px;
  max-width: 250px;
}
body #about_me .user_info .user_photo .buttons_of_photo-change__to-change {
  margin-bottom: 4%;
}
body #about_me .user_info .user_photo .buttons_of_photo-change__to-delete {
  width: 100%;
}
body #about_me .user_info .user_photo .buttons_of_photo-change__to-delete, body #about_me .user_info .user_photo .buttons_of_photo-change__to-change {
  display: flex;
  flex-direction: column;
}
body #about_me .user_info .user_photo .buttons_of_photo-change__to-delete input, body #about_me .user_info .user_photo .buttons_of_photo-change__to-delete button, body #about_me .user_info .user_photo .buttons_of_photo-change__to-change input, body #about_me .user_info .user_photo .buttons_of_photo-change__to-change button {
  border-radius: 0;
}
body #about_me .user_info .user_photo .buttons_of_photo-change__to-delete button:last-child, body #about_me .user_info .user_photo .buttons_of_photo-change__to-change button:last-child {
  margin: 0;
}
body #about_me .user_info .user_about-grid {
  display: grid;
  grid-gap: 4%;
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, auto);
}
body #about_me .user_info .user_about-grid .user_about-grid__element {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body #about_me .user_info .user_about-grid .user_about-grid__element input {
  background-color: #D9D9D9;
  border-style: none;
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
}
body #about_me .user_info .user_about-grid .user_about-grid__element input:focus-visible {
  outline: 0;
  outline-offset: 0;
}
body #about_me .user_info .user_about-grid .user_about-grid__element input:hover {
  cursor: pointer;
}
body #about_me .user_info .user_about-grid .user_about-grid__element label {
  margin-bottom: 2%;
}
body #about_me .user_info .user_about-grid .user_about-grid__element .regular_text {
  text-align: left;
}
body #pass4change {
  flex-direction: row;
  justify-content: space-between;
}
body #pass4change .password_change {
  background-color: #F1F1F1;
  border: 1px solid #000000;
  padding: 0% 2% 2% 2%;
  margin: 0% 2% 2% 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
body #pass4change .password_change .password_change__title {
  padding: 1%;
  margin-bottom: 4%;
  background-color: #D9D9D9;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #000000;
}
body #pass4change .password_change .password_change__to-do input, body #pass4change .password_change .password_change__to-do button {
  border-radius: 25px;
}
body #pass4change .password_change .password_change__to-do .password-repeat {
  padding: 2%;
}
body #pass4change .password_change .password_change__to-do .password-repeat .old_pass, body #pass4change .password_change .password_change__to-do .password-repeat .new_pass, body #pass4change .password_change .password_change__to-do .password-repeat .new_pass__check {
  margin-bottom: 4%;
}
body #pass4change .password_change .password_change__to-do .password-repeat .old_pass, body #pass4change .password_change .password_change__to-do .password-repeat .new_pass, body #pass4change .password_change .password_change__to-do .password-repeat .new_pass__check {
  display: flex;
  flex-direction: column;
}
body #pass4change .password_change .password_change__to-do .password-repeat .old_pass label, body #pass4change .password_change .password_change__to-do .password-repeat .new_pass label, body #pass4change .password_change .password_change__to-do .password-repeat .new_pass__check label {
  text-align: left;
  margin-bottom: 2%;
}
body #pass4change .password_change .password_change__to-do .buttons_of_submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #pass4change .password_change .password_change__to-do .buttons_of_submit button {
  border-radius: 0;
  padding: 2%;
}
body #edit__shifts, body #edit__employees, body #edit__orders, body main {
  min-height: 80vh;
}
body #edit__shifts, body #edit__employees, body #edit__orders {
  justify-content: space-around;
}
body #edit__shifts .table_exists_shifts, body #edit__shifts .table_exists_employees, body #edit__shifts .table_exists_orders, body #edit__employees .table_exists_shifts, body #edit__employees .table_exists_employees, body #edit__employees .table_exists_orders, body #edit__orders .table_exists_shifts, body #edit__orders .table_exists_employees, body #edit__orders .table_exists_orders {
  padding: 0% 2% 2% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1F1F1;
  border: 1px solid #000000;
  flex-grow: 0.5;
}
body #edit__shifts .table_exists_shifts .table__title, body #edit__shifts .table_exists_employees .table__title, body #edit__shifts .table_exists_orders .table__title, body #edit__employees .table_exists_shifts .table__title, body #edit__employees .table_exists_employees .table__title, body #edit__employees .table_exists_orders .table__title, body #edit__orders .table_exists_shifts .table__title, body #edit__orders .table_exists_employees .table__title, body #edit__orders .table_exists_orders .table__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body #edit__shifts .table_exists_shifts .table__title button, body #edit__shifts .table_exists_employees .table__title button, body #edit__shifts .table_exists_orders .table__title button, body #edit__employees .table_exists_shifts .table__title button, body #edit__employees .table_exists_employees .table__title button, body #edit__employees .table_exists_orders .table__title button, body #edit__orders .table_exists_shifts .table__title button, body #edit__orders .table_exists_employees .table__title button, body #edit__orders .table_exists_orders .table__title button {
  padding: 2%;
  max-height: 10%;
  max-width: 25%;
  border-radius: 15px;
  background-color: #FFFFFF;
  width: -moz-available;
}
body #edit__shifts .table_exists_shifts .table__title button:hover, body #edit__shifts .table_exists_employees .table__title button:hover, body #edit__shifts .table_exists_orders .table__title button:hover, body #edit__employees .table_exists_shifts .table__title button:hover, body #edit__employees .table_exists_employees .table__title button:hover, body #edit__employees .table_exists_orders .table__title button:hover, body #edit__orders .table_exists_shifts .table__title button:hover, body #edit__orders .table_exists_employees .table__title button:hover, body #edit__orders .table_exists_orders .table__title button:hover {
  background-color: rgb(89, 121, 180);
}
body #edit__shifts .table_exists_shifts .table__title img, body #edit__shifts .table_exists_employees .table__title img, body #edit__shifts .table_exists_orders .table__title img, body #edit__employees .table_exists_shifts .table__title img, body #edit__employees .table_exists_employees .table__title img, body #edit__employees .table_exists_orders .table__title img, body #edit__orders .table_exists_shifts .table__title img, body #edit__orders .table_exists_employees .table__title img, body #edit__orders .table_exists_orders .table__title img {
  max-height: 48px;
  max-width: 48px;
}
body #edit__shifts .table_exists_shifts legend, body #edit__shifts .table_exists_employees legend, body #edit__shifts .table_exists_orders legend, body #edit__employees .table_exists_shifts legend, body #edit__employees .table_exists_employees legend, body #edit__employees .table_exists_orders legend, body #edit__orders .table_exists_shifts legend, body #edit__orders .table_exists_employees legend, body #edit__orders .table_exists_orders legend {
  padding: 2%;
  margin-bottom: 4%;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  background-color: #E3E3E3;
}
body #edit__shifts .table_of_shifts, body #edit__shifts .table_of_employees, body #edit__shifts .table_of_orders, body #edit__employees .table_of_shifts, body #edit__employees .table_of_employees, body #edit__employees .table_of_orders, body #edit__orders .table_of_shifts, body #edit__orders .table_of_employees, body #edit__orders .table_of_orders {
  width: 100%;
}
body #edit__shifts .table_of_shifts tr:nth-child(even), body #edit__shifts .table_of_employees tr:nth-child(even), body #edit__shifts .table_of_orders tr:nth-child(even), body #edit__employees .table_of_shifts tr:nth-child(even), body #edit__employees .table_of_employees tr:nth-child(even), body #edit__employees .table_of_orders tr:nth-child(even), body #edit__orders .table_of_shifts tr:nth-child(even), body #edit__orders .table_of_employees tr:nth-child(even), body #edit__orders .table_of_orders tr:nth-child(even) {
  background-color: whitesmoke;
}
body #edit__shifts .table_of_shifts tr:nth-child(odd), body #edit__shifts .table_of_employees tr:nth-child(odd), body #edit__shifts .table_of_orders tr:nth-child(odd), body #edit__employees .table_of_shifts tr:nth-child(odd), body #edit__employees .table_of_employees tr:nth-child(odd), body #edit__employees .table_of_orders tr:nth-child(odd), body #edit__orders .table_of_shifts tr:nth-child(odd), body #edit__orders .table_of_employees tr:nth-child(odd), body #edit__orders .table_of_orders tr:nth-child(odd) {
  background-color: #D9D9D9;
}
body #edit__shifts .table_of_shifts th, body #edit__shifts .table_of_employees th, body #edit__shifts .table_of_orders th, body #edit__employees .table_of_shifts th, body #edit__employees .table_of_employees th, body #edit__employees .table_of_orders th, body #edit__orders .table_of_shifts th, body #edit__orders .table_of_employees th, body #edit__orders .table_of_orders th {
  background-color: whitesmoke;
}
body #edit__shifts .table_of_shifts tr:hover, body #edit__shifts .table_of_employees tr:hover, body #edit__shifts .table_of_orders tr:hover, body #edit__employees .table_of_shifts tr:hover, body #edit__employees .table_of_employees tr:hover, body #edit__employees .table_of_orders tr:hover, body #edit__orders .table_of_shifts tr:hover, body #edit__orders .table_of_employees tr:hover, body #edit__orders .table_of_orders tr:hover {
  background-color: #7bb9f3;
}
body #edit__shifts .table_of_shifts td, body #edit__shifts .table_of_shifts th, body #edit__shifts .table_of_employees td, body #edit__shifts .table_of_employees th, body #edit__shifts .table_of_orders td, body #edit__shifts .table_of_orders th, body #edit__employees .table_of_shifts td, body #edit__employees .table_of_shifts th, body #edit__employees .table_of_employees td, body #edit__employees .table_of_employees th, body #edit__employees .table_of_orders td, body #edit__employees .table_of_orders th, body #edit__orders .table_of_shifts td, body #edit__orders .table_of_shifts th, body #edit__orders .table_of_employees td, body #edit__orders .table_of_employees th, body #edit__orders .table_of_orders td, body #edit__orders .table_of_orders th {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
body #edit__shifts .table_of_shifts td, body #edit__shifts .table_of_shifts tr, body #edit__shifts .table_of_shifts th, body #edit__shifts .table_of_employees td, body #edit__shifts .table_of_employees tr, body #edit__shifts .table_of_employees th, body #edit__shifts .table_of_orders td, body #edit__shifts .table_of_orders tr, body #edit__shifts .table_of_orders th, body #edit__employees .table_of_shifts td, body #edit__employees .table_of_shifts tr, body #edit__employees .table_of_shifts th, body #edit__employees .table_of_employees td, body #edit__employees .table_of_employees tr, body #edit__employees .table_of_employees th, body #edit__employees .table_of_orders td, body #edit__employees .table_of_orders tr, body #edit__employees .table_of_orders th, body #edit__orders .table_of_shifts td, body #edit__orders .table_of_shifts tr, body #edit__orders .table_of_shifts th, body #edit__orders .table_of_employees td, body #edit__orders .table_of_employees tr, body #edit__orders .table_of_employees th, body #edit__orders .table_of_orders td, body #edit__orders .table_of_orders tr, body #edit__orders .table_of_orders th {
  padding: 0.5%;
  vertical-align: middle;
  text-align: center;
  border-collapse: collapse;
}
body #edit__shifts .table_of_shifts #editable_td, body #edit__shifts .table_of_employees #editable_td, body #edit__shifts .table_of_orders #editable_td, body #edit__employees .table_of_shifts #editable_td, body #edit__employees .table_of_employees #editable_td, body #edit__employees .table_of_orders #editable_td, body #edit__orders .table_of_shifts #editable_td, body #edit__orders .table_of_employees #editable_td, body #edit__orders .table_of_orders #editable_td {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body #edit__shifts .table_of_shifts #editable_td form, body #edit__shifts .table_of_employees #editable_td form, body #edit__shifts .table_of_orders #editable_td form, body #edit__employees .table_of_shifts #editable_td form, body #edit__employees .table_of_employees #editable_td form, body #edit__employees .table_of_orders #editable_td form, body #edit__orders .table_of_shifts #editable_td form, body #edit__orders .table_of_employees #editable_td form, body #edit__orders .table_of_orders #editable_td form {
  flex-grow: 1;
}
body #edit__shifts .table_of_shifts #editable_td form button, body #edit__shifts .table_of_employees #editable_td form button, body #edit__shifts .table_of_orders #editable_td form button, body #edit__employees .table_of_shifts #editable_td form button, body #edit__employees .table_of_employees #editable_td form button, body #edit__employees .table_of_orders #editable_td form button, body #edit__orders .table_of_shifts #editable_td form button, body #edit__orders .table_of_employees #editable_td form button, body #edit__orders .table_of_orders #editable_td form button {
  width: 100%;
}
body #edit__shifts .table_of_shifts #editable_td form img, body #edit__shifts .table_of_employees #editable_td form img, body #edit__shifts .table_of_orders #editable_td form img, body #edit__employees .table_of_shifts #editable_td form img, body #edit__employees .table_of_employees #editable_td form img, body #edit__employees .table_of_orders #editable_td form img, body #edit__orders .table_of_shifts #editable_td form img, body #edit__orders .table_of_employees #editable_td form img, body #edit__orders .table_of_orders #editable_td form img {
  max-width: 32px;
  max-height: 32px;
}
body #user_lk, body #about_me, body #pass4change, body #edit__shifts, body #edit__employees, body #edit__orders {
  padding: 2%;
  align-items: flex-start;
}
body #user_lk .right_menu_navigation, body #user_lk .user_photo, body #user_lk .user_info, body #about_me .right_menu_navigation, body #about_me .user_photo, body #about_me .user_info, body #pass4change .right_menu_navigation, body #pass4change .user_photo, body #pass4change .user_info, body #edit__shifts .right_menu_navigation, body #edit__shifts .user_photo, body #edit__shifts .user_info, body #edit__employees .right_menu_navigation, body #edit__employees .user_photo, body #edit__employees .user_info, body #edit__orders .right_menu_navigation, body #edit__orders .user_photo, body #edit__orders .user_info {
  height: 100%;
}
body #user_lk .right_menu_navigation .right_menu__element, body #user_lk .user_photo .right_menu__element, body #user_lk .user_info .right_menu__element, body #about_me .right_menu_navigation .right_menu__element, body #about_me .user_photo .right_menu__element, body #about_me .user_info .right_menu__element, body #pass4change .right_menu_navigation .right_menu__element, body #pass4change .user_photo .right_menu__element, body #pass4change .user_info .right_menu__element, body #edit__shifts .right_menu_navigation .right_menu__element, body #edit__shifts .user_photo .right_menu__element, body #edit__shifts .user_info .right_menu__element, body #edit__employees .right_menu_navigation .right_menu__element, body #edit__employees .user_photo .right_menu__element, body #edit__employees .user_info .right_menu__element, body #edit__orders .right_menu_navigation .right_menu__element, body #edit__orders .user_photo .right_menu__element, body #edit__orders .user_info .right_menu__element {
  padding: 2%;
  margin-bottom: 4%;
}
body #user_lk .right_menu_navigation .right_menu__element:not(:last-child), body #user_lk .user_photo .right_menu__element:not(:last-child), body #user_lk .user_info .right_menu__element:not(:last-child), body #about_me .right_menu_navigation .right_menu__element:not(:last-child), body #about_me .user_photo .right_menu__element:not(:last-child), body #about_me .user_info .right_menu__element:not(:last-child), body #pass4change .right_menu_navigation .right_menu__element:not(:last-child), body #pass4change .user_photo .right_menu__element:not(:last-child), body #pass4change .user_info .right_menu__element:not(:last-child), body #edit__shifts .right_menu_navigation .right_menu__element:not(:last-child), body #edit__shifts .user_photo .right_menu__element:not(:last-child), body #edit__shifts .user_info .right_menu__element:not(:last-child), body #edit__employees .right_menu_navigation .right_menu__element:not(:last-child), body #edit__employees .user_photo .right_menu__element:not(:last-child), body #edit__employees .user_info .right_menu__element:not(:last-child), body #edit__orders .right_menu_navigation .right_menu__element:not(:last-child), body #edit__orders .user_photo .right_menu__element:not(:last-child), body #edit__orders .user_info .right_menu__element:not(:last-child) {
  background-color: #D9D9D9;
}
body #user_lk .right_menu_navigation .right_menu__element:hover:not(:last-child), body #user_lk .user_photo .right_menu__element:hover:not(:last-child), body #user_lk .user_info .right_menu__element:hover:not(:last-child), body #about_me .right_menu_navigation .right_menu__element:hover:not(:last-child), body #about_me .user_photo .right_menu__element:hover:not(:last-child), body #about_me .user_info .right_menu__element:hover:not(:last-child), body #pass4change .right_menu_navigation .right_menu__element:hover:not(:last-child), body #pass4change .user_photo .right_menu__element:hover:not(:last-child), body #pass4change .user_info .right_menu__element:hover:not(:last-child), body #edit__shifts .right_menu_navigation .right_menu__element:hover:not(:last-child), body #edit__shifts .user_photo .right_menu__element:hover:not(:last-child), body #edit__shifts .user_info .right_menu__element:hover:not(:last-child), body #edit__employees .right_menu_navigation .right_menu__element:hover:not(:last-child), body #edit__employees .user_photo .right_menu__element:hover:not(:last-child), body #edit__employees .user_info .right_menu__element:hover:not(:last-child), body #edit__orders .right_menu_navigation .right_menu__element:hover:not(:last-child), body #edit__orders .user_photo .right_menu__element:hover:not(:last-child), body #edit__orders .user_info .right_menu__element:hover:not(:last-child) {
  background-color: #EAEAEA;
  padding: 4%;
}
body #user_lk .right_menu_navigation .right_menu__element:last-child, body #user_lk .user_photo .right_menu__element:last-child, body #user_lk .user_info .right_menu__element:last-child, body #about_me .right_menu_navigation .right_menu__element:last-child, body #about_me .user_photo .right_menu__element:last-child, body #about_me .user_info .right_menu__element:last-child, body #pass4change .right_menu_navigation .right_menu__element:last-child, body #pass4change .user_photo .right_menu__element:last-child, body #pass4change .user_info .right_menu__element:last-child, body #edit__shifts .right_menu_navigation .right_menu__element:last-child, body #edit__shifts .user_photo .right_menu__element:last-child, body #edit__shifts .user_info .right_menu__element:last-child, body #edit__employees .right_menu_navigation .right_menu__element:last-child, body #edit__employees .user_photo .right_menu__element:last-child, body #edit__employees .user_info .right_menu__element:last-child, body #edit__orders .right_menu_navigation .right_menu__element:last-child, body #edit__orders .user_photo .right_menu__element:last-child, body #edit__orders .user_info .right_menu__element:last-child {
  margin: 0;
}
body main {
  align-items: center;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
body main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main form .regular_button {
  margin-bottom: 4%;
  padding: 1%;
  background-color: #D9D9D9;
  border: 0;
}
body main form label {
  margin-bottom: 1%;
}
body main form input, body main form button, body main form select, body main form option {
  padding: 2%;
  margin-bottom: 2%;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 15px;
}
body main form input:hover, body main form button:hover {
  background-color: rgb(89, 121, 180);
}
body main form select:hover {
  background-color: rgb(155, 187, 248);
}
body main .log_in, body main .reg_in, body main .update_in {
  padding: 2%;
  width: 50%;
  background-color: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
body main .reg_in #register_form .register_form__password_and_login, body main .reg_in #register_form .submit-and-advice {
  width: 85%;
}
body main .logIN_form__password_and_login {
  width: 85%;
}
body main #logIN_form .submit-and-advice {
  margin-bottom: 2%;
  width: -moz-available;
}
body main .logIN_form__password_and_login #for_needed_inputs--red_highlight, body main .register_form__password_and_login #for_needed_inputs--red_highlight, body main .submit-and-advice #for_needed_inputs--red_highlight {
  color: #FF0000;
}
body main .logIN_form__password_and_login .login-input, body main .logIN_form__password_and_login .password-input, body main .logIN_form__password_and_login .role-input, body main .logIN_form__password_and_login .firstname-input, body main .logIN_form__password_and_login .lastname-input,
body main .logIN_form__password_and_login .patronimyc-input, body main .logIN_form__password_and_login .birthday-input, body main .logIN_form__password_and_login .gender-input, body main .logIN_form__password_and_login .telephone-input, body main .logIN_form__password_and_login .email-input,
body main .logIN_form__password_and_login .shift_date-input, body main .logIN_form__password_and_login .shift_start_time-input, body main .logIN_form__password_and_login .shift_end_time-input, body main .logIN_form__password_and_login .shift_status-input,
body main .logIN_form__password_and_login .order_status-input, body main .logIN_form__password_and_login .order_isPaid-input, body main .register_form__password_and_login .login-input, body main .register_form__password_and_login .password-input, body main .register_form__password_and_login .role-input, body main .register_form__password_and_login .firstname-input, body main .register_form__password_and_login .lastname-input,
body main .register_form__password_and_login .patronimyc-input, body main .register_form__password_and_login .birthday-input, body main .register_form__password_and_login .gender-input, body main .register_form__password_and_login .telephone-input, body main .register_form__password_and_login .email-input,
body main .register_form__password_and_login .shift_date-input, body main .register_form__password_and_login .shift_start_time-input, body main .register_form__password_and_login .shift_end_time-input, body main .register_form__password_and_login .shift_status-input,
body main .register_form__password_and_login .order_status-input, body main .register_form__password_and_login .order_isPaid-input, body main .submit-and-advice .login-input, body main .submit-and-advice .password-input, body main .submit-and-advice .role-input, body main .submit-and-advice .firstname-input, body main .submit-and-advice .lastname-input,
body main .submit-and-advice .patronimyc-input, body main .submit-and-advice .birthday-input, body main .submit-and-advice .gender-input, body main .submit-and-advice .telephone-input, body main .submit-and-advice .email-input,
body main .submit-and-advice .shift_date-input, body main .submit-and-advice .shift_start_time-input, body main .submit-and-advice .shift_end_time-input, body main .submit-and-advice .shift_status-input,
body main .submit-and-advice .order_status-input, body main .submit-and-advice .order_isPaid-input {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
body main .logIN_form__password_and_login .login-input ol, body main .logIN_form__password_and_login .login-input p, body main .logIN_form__password_and_login .login-input h3, body main .logIN_form__password_and_login .login-input h2, body main .logIN_form__password_and_login .password-input ol, body main .logIN_form__password_and_login .password-input p, body main .logIN_form__password_and_login .password-input h3, body main .logIN_form__password_and_login .password-input h2, body main .logIN_form__password_and_login .role-input ol, body main .logIN_form__password_and_login .role-input p, body main .logIN_form__password_and_login .role-input h3, body main .logIN_form__password_and_login .role-input h2, body main .logIN_form__password_and_login .firstname-input ol, body main .logIN_form__password_and_login .firstname-input p, body main .logIN_form__password_and_login .firstname-input h3, body main .logIN_form__password_and_login .firstname-input h2, body main .logIN_form__password_and_login .lastname-input ol, body main .logIN_form__password_and_login .lastname-input p, body main .logIN_form__password_and_login .lastname-input h3, body main .logIN_form__password_and_login .lastname-input h2,
body main .logIN_form__password_and_login .patronimyc-input ol,
body main .logIN_form__password_and_login .patronimyc-input p,
body main .logIN_form__password_and_login .patronimyc-input h3,
body main .logIN_form__password_and_login .patronimyc-input h2, body main .logIN_form__password_and_login .birthday-input ol, body main .logIN_form__password_and_login .birthday-input p, body main .logIN_form__password_and_login .birthday-input h3, body main .logIN_form__password_and_login .birthday-input h2, body main .logIN_form__password_and_login .gender-input ol, body main .logIN_form__password_and_login .gender-input p, body main .logIN_form__password_and_login .gender-input h3, body main .logIN_form__password_and_login .gender-input h2, body main .logIN_form__password_and_login .telephone-input ol, body main .logIN_form__password_and_login .telephone-input p, body main .logIN_form__password_and_login .telephone-input h3, body main .logIN_form__password_and_login .telephone-input h2, body main .logIN_form__password_and_login .email-input ol, body main .logIN_form__password_and_login .email-input p, body main .logIN_form__password_and_login .email-input h3, body main .logIN_form__password_and_login .email-input h2,
body main .logIN_form__password_and_login .shift_date-input ol,
body main .logIN_form__password_and_login .shift_date-input p,
body main .logIN_form__password_and_login .shift_date-input h3,
body main .logIN_form__password_and_login .shift_date-input h2, body main .logIN_form__password_and_login .shift_start_time-input ol, body main .logIN_form__password_and_login .shift_start_time-input p, body main .logIN_form__password_and_login .shift_start_time-input h3, body main .logIN_form__password_and_login .shift_start_time-input h2, body main .logIN_form__password_and_login .shift_end_time-input ol, body main .logIN_form__password_and_login .shift_end_time-input p, body main .logIN_form__password_and_login .shift_end_time-input h3, body main .logIN_form__password_and_login .shift_end_time-input h2, body main .logIN_form__password_and_login .shift_status-input ol, body main .logIN_form__password_and_login .shift_status-input p, body main .logIN_form__password_and_login .shift_status-input h3, body main .logIN_form__password_and_login .shift_status-input h2,
body main .logIN_form__password_and_login .order_status-input ol,
body main .logIN_form__password_and_login .order_status-input p,
body main .logIN_form__password_and_login .order_status-input h3,
body main .logIN_form__password_and_login .order_status-input h2, body main .logIN_form__password_and_login .order_isPaid-input ol, body main .logIN_form__password_and_login .order_isPaid-input p, body main .logIN_form__password_and_login .order_isPaid-input h3, body main .logIN_form__password_and_login .order_isPaid-input h2, body main .register_form__password_and_login .login-input ol, body main .register_form__password_and_login .login-input p, body main .register_form__password_and_login .login-input h3, body main .register_form__password_and_login .login-input h2, body main .register_form__password_and_login .password-input ol, body main .register_form__password_and_login .password-input p, body main .register_form__password_and_login .password-input h3, body main .register_form__password_and_login .password-input h2, body main .register_form__password_and_login .role-input ol, body main .register_form__password_and_login .role-input p, body main .register_form__password_and_login .role-input h3, body main .register_form__password_and_login .role-input h2, body main .register_form__password_and_login .firstname-input ol, body main .register_form__password_and_login .firstname-input p, body main .register_form__password_and_login .firstname-input h3, body main .register_form__password_and_login .firstname-input h2, body main .register_form__password_and_login .lastname-input ol, body main .register_form__password_and_login .lastname-input p, body main .register_form__password_and_login .lastname-input h3, body main .register_form__password_and_login .lastname-input h2,
body main .register_form__password_and_login .patronimyc-input ol,
body main .register_form__password_and_login .patronimyc-input p,
body main .register_form__password_and_login .patronimyc-input h3,
body main .register_form__password_and_login .patronimyc-input h2, body main .register_form__password_and_login .birthday-input ol, body main .register_form__password_and_login .birthday-input p, body main .register_form__password_and_login .birthday-input h3, body main .register_form__password_and_login .birthday-input h2, body main .register_form__password_and_login .gender-input ol, body main .register_form__password_and_login .gender-input p, body main .register_form__password_and_login .gender-input h3, body main .register_form__password_and_login .gender-input h2, body main .register_form__password_and_login .telephone-input ol, body main .register_form__password_and_login .telephone-input p, body main .register_form__password_and_login .telephone-input h3, body main .register_form__password_and_login .telephone-input h2, body main .register_form__password_and_login .email-input ol, body main .register_form__password_and_login .email-input p, body main .register_form__password_and_login .email-input h3, body main .register_form__password_and_login .email-input h2,
body main .register_form__password_and_login .shift_date-input ol,
body main .register_form__password_and_login .shift_date-input p,
body main .register_form__password_and_login .shift_date-input h3,
body main .register_form__password_and_login .shift_date-input h2, body main .register_form__password_and_login .shift_start_time-input ol, body main .register_form__password_and_login .shift_start_time-input p, body main .register_form__password_and_login .shift_start_time-input h3, body main .register_form__password_and_login .shift_start_time-input h2, body main .register_form__password_and_login .shift_end_time-input ol, body main .register_form__password_and_login .shift_end_time-input p, body main .register_form__password_and_login .shift_end_time-input h3, body main .register_form__password_and_login .shift_end_time-input h2, body main .register_form__password_and_login .shift_status-input ol, body main .register_form__password_and_login .shift_status-input p, body main .register_form__password_and_login .shift_status-input h3, body main .register_form__password_and_login .shift_status-input h2,
body main .register_form__password_and_login .order_status-input ol,
body main .register_form__password_and_login .order_status-input p,
body main .register_form__password_and_login .order_status-input h3,
body main .register_form__password_and_login .order_status-input h2, body main .register_form__password_and_login .order_isPaid-input ol, body main .register_form__password_and_login .order_isPaid-input p, body main .register_form__password_and_login .order_isPaid-input h3, body main .register_form__password_and_login .order_isPaid-input h2, body main .submit-and-advice .login-input ol, body main .submit-and-advice .login-input p, body main .submit-and-advice .login-input h3, body main .submit-and-advice .login-input h2, body main .submit-and-advice .password-input ol, body main .submit-and-advice .password-input p, body main .submit-and-advice .password-input h3, body main .submit-and-advice .password-input h2, body main .submit-and-advice .role-input ol, body main .submit-and-advice .role-input p, body main .submit-and-advice .role-input h3, body main .submit-and-advice .role-input h2, body main .submit-and-advice .firstname-input ol, body main .submit-and-advice .firstname-input p, body main .submit-and-advice .firstname-input h3, body main .submit-and-advice .firstname-input h2, body main .submit-and-advice .lastname-input ol, body main .submit-and-advice .lastname-input p, body main .submit-and-advice .lastname-input h3, body main .submit-and-advice .lastname-input h2,
body main .submit-and-advice .patronimyc-input ol,
body main .submit-and-advice .patronimyc-input p,
body main .submit-and-advice .patronimyc-input h3,
body main .submit-and-advice .patronimyc-input h2, body main .submit-and-advice .birthday-input ol, body main .submit-and-advice .birthday-input p, body main .submit-and-advice .birthday-input h3, body main .submit-and-advice .birthday-input h2, body main .submit-and-advice .gender-input ol, body main .submit-and-advice .gender-input p, body main .submit-and-advice .gender-input h3, body main .submit-and-advice .gender-input h2, body main .submit-and-advice .telephone-input ol, body main .submit-and-advice .telephone-input p, body main .submit-and-advice .telephone-input h3, body main .submit-and-advice .telephone-input h2, body main .submit-and-advice .email-input ol, body main .submit-and-advice .email-input p, body main .submit-and-advice .email-input h3, body main .submit-and-advice .email-input h2,
body main .submit-and-advice .shift_date-input ol,
body main .submit-and-advice .shift_date-input p,
body main .submit-and-advice .shift_date-input h3,
body main .submit-and-advice .shift_date-input h2, body main .submit-and-advice .shift_start_time-input ol, body main .submit-and-advice .shift_start_time-input p, body main .submit-and-advice .shift_start_time-input h3, body main .submit-and-advice .shift_start_time-input h2, body main .submit-and-advice .shift_end_time-input ol, body main .submit-and-advice .shift_end_time-input p, body main .submit-and-advice .shift_end_time-input h3, body main .submit-and-advice .shift_end_time-input h2, body main .submit-and-advice .shift_status-input ol, body main .submit-and-advice .shift_status-input p, body main .submit-and-advice .shift_status-input h3, body main .submit-and-advice .shift_status-input h2,
body main .submit-and-advice .order_status-input ol,
body main .submit-and-advice .order_status-input p,
body main .submit-and-advice .order_status-input h3,
body main .submit-and-advice .order_status-input h2, body main .submit-and-advice .order_isPaid-input ol, body main .submit-and-advice .order_isPaid-input p, body main .submit-and-advice .order_isPaid-input h3, body main .submit-and-advice .order_isPaid-input h2 {
  text-align: center;
  margin-bottom: 2%;
}
body main .logIN_form__password_and_login .login-input p, body main .logIN_form__password_and_login .password-input p, body main .logIN_form__password_and_login .role-input p, body main .logIN_form__password_and_login .firstname-input p, body main .logIN_form__password_and_login .lastname-input p,
body main .logIN_form__password_and_login .patronimyc-input p, body main .logIN_form__password_and_login .birthday-input p, body main .logIN_form__password_and_login .gender-input p, body main .logIN_form__password_and_login .telephone-input p, body main .logIN_form__password_and_login .email-input p,
body main .logIN_form__password_and_login .shift_date-input p, body main .logIN_form__password_and_login .shift_start_time-input p, body main .logIN_form__password_and_login .shift_end_time-input p, body main .logIN_form__password_and_login .shift_status-input p,
body main .logIN_form__password_and_login .order_status-input p, body main .logIN_form__password_and_login .order_isPaid-input p, body main .register_form__password_and_login .login-input p, body main .register_form__password_and_login .password-input p, body main .register_form__password_and_login .role-input p, body main .register_form__password_and_login .firstname-input p, body main .register_form__password_and_login .lastname-input p,
body main .register_form__password_and_login .patronimyc-input p, body main .register_form__password_and_login .birthday-input p, body main .register_form__password_and_login .gender-input p, body main .register_form__password_and_login .telephone-input p, body main .register_form__password_and_login .email-input p,
body main .register_form__password_and_login .shift_date-input p, body main .register_form__password_and_login .shift_start_time-input p, body main .register_form__password_and_login .shift_end_time-input p, body main .register_form__password_and_login .shift_status-input p,
body main .register_form__password_and_login .order_status-input p, body main .register_form__password_and_login .order_isPaid-input p, body main .submit-and-advice .login-input p, body main .submit-and-advice .password-input p, body main .submit-and-advice .role-input p, body main .submit-and-advice .firstname-input p, body main .submit-and-advice .lastname-input p,
body main .submit-and-advice .patronimyc-input p, body main .submit-and-advice .birthday-input p, body main .submit-and-advice .gender-input p, body main .submit-and-advice .telephone-input p, body main .submit-and-advice .email-input p,
body main .submit-and-advice .shift_date-input p, body main .submit-and-advice .shift_start_time-input p, body main .submit-and-advice .shift_end_time-input p, body main .submit-and-advice .shift_status-input p,
body main .submit-and-advice .order_status-input p, body main .submit-and-advice .order_isPaid-input p {
  padding: 1%;
}
body main .logIN_form__password_and_login .login-input #shift_states li, body main .logIN_form__password_and_login .login-input #order_states li, body main .logIN_form__password_and_login .login-input #order_isPaid li, body main .logIN_form__password_and_login .password-input #shift_states li, body main .logIN_form__password_and_login .password-input #order_states li, body main .logIN_form__password_and_login .password-input #order_isPaid li, body main .logIN_form__password_and_login .role-input #shift_states li, body main .logIN_form__password_and_login .role-input #order_states li, body main .logIN_form__password_and_login .role-input #order_isPaid li, body main .logIN_form__password_and_login .firstname-input #shift_states li, body main .logIN_form__password_and_login .firstname-input #order_states li, body main .logIN_form__password_and_login .firstname-input #order_isPaid li, body main .logIN_form__password_and_login .lastname-input #shift_states li, body main .logIN_form__password_and_login .lastname-input #order_states li, body main .logIN_form__password_and_login .lastname-input #order_isPaid li,
body main .logIN_form__password_and_login .patronimyc-input #shift_states li,
body main .logIN_form__password_and_login .patronimyc-input #order_states li,
body main .logIN_form__password_and_login .patronimyc-input #order_isPaid li, body main .logIN_form__password_and_login .birthday-input #shift_states li, body main .logIN_form__password_and_login .birthday-input #order_states li, body main .logIN_form__password_and_login .birthday-input #order_isPaid li, body main .logIN_form__password_and_login .gender-input #shift_states li, body main .logIN_form__password_and_login .gender-input #order_states li, body main .logIN_form__password_and_login .gender-input #order_isPaid li, body main .logIN_form__password_and_login .telephone-input #shift_states li, body main .logIN_form__password_and_login .telephone-input #order_states li, body main .logIN_form__password_and_login .telephone-input #order_isPaid li, body main .logIN_form__password_and_login .email-input #shift_states li, body main .logIN_form__password_and_login .email-input #order_states li, body main .logIN_form__password_and_login .email-input #order_isPaid li,
body main .logIN_form__password_and_login .shift_date-input #shift_states li,
body main .logIN_form__password_and_login .shift_date-input #order_states li,
body main .logIN_form__password_and_login .shift_date-input #order_isPaid li, body main .logIN_form__password_and_login .shift_start_time-input #shift_states li, body main .logIN_form__password_and_login .shift_start_time-input #order_states li, body main .logIN_form__password_and_login .shift_start_time-input #order_isPaid li, body main .logIN_form__password_and_login .shift_end_time-input #shift_states li, body main .logIN_form__password_and_login .shift_end_time-input #order_states li, body main .logIN_form__password_and_login .shift_end_time-input #order_isPaid li, body main .logIN_form__password_and_login .shift_status-input #shift_states li, body main .logIN_form__password_and_login .shift_status-input #order_states li, body main .logIN_form__password_and_login .shift_status-input #order_isPaid li,
body main .logIN_form__password_and_login .order_status-input #shift_states li,
body main .logIN_form__password_and_login .order_status-input #order_states li,
body main .logIN_form__password_and_login .order_status-input #order_isPaid li, body main .logIN_form__password_and_login .order_isPaid-input #shift_states li, body main .logIN_form__password_and_login .order_isPaid-input #order_states li, body main .logIN_form__password_and_login .order_isPaid-input #order_isPaid li, body main .register_form__password_and_login .login-input #shift_states li, body main .register_form__password_and_login .login-input #order_states li, body main .register_form__password_and_login .login-input #order_isPaid li, body main .register_form__password_and_login .password-input #shift_states li, body main .register_form__password_and_login .password-input #order_states li, body main .register_form__password_and_login .password-input #order_isPaid li, body main .register_form__password_and_login .role-input #shift_states li, body main .register_form__password_and_login .role-input #order_states li, body main .register_form__password_and_login .role-input #order_isPaid li, body main .register_form__password_and_login .firstname-input #shift_states li, body main .register_form__password_and_login .firstname-input #order_states li, body main .register_form__password_and_login .firstname-input #order_isPaid li, body main .register_form__password_and_login .lastname-input #shift_states li, body main .register_form__password_and_login .lastname-input #order_states li, body main .register_form__password_and_login .lastname-input #order_isPaid li,
body main .register_form__password_and_login .patronimyc-input #shift_states li,
body main .register_form__password_and_login .patronimyc-input #order_states li,
body main .register_form__password_and_login .patronimyc-input #order_isPaid li, body main .register_form__password_and_login .birthday-input #shift_states li, body main .register_form__password_and_login .birthday-input #order_states li, body main .register_form__password_and_login .birthday-input #order_isPaid li, body main .register_form__password_and_login .gender-input #shift_states li, body main .register_form__password_and_login .gender-input #order_states li, body main .register_form__password_and_login .gender-input #order_isPaid li, body main .register_form__password_and_login .telephone-input #shift_states li, body main .register_form__password_and_login .telephone-input #order_states li, body main .register_form__password_and_login .telephone-input #order_isPaid li, body main .register_form__password_and_login .email-input #shift_states li, body main .register_form__password_and_login .email-input #order_states li, body main .register_form__password_and_login .email-input #order_isPaid li,
body main .register_form__password_and_login .shift_date-input #shift_states li,
body main .register_form__password_and_login .shift_date-input #order_states li,
body main .register_form__password_and_login .shift_date-input #order_isPaid li, body main .register_form__password_and_login .shift_start_time-input #shift_states li, body main .register_form__password_and_login .shift_start_time-input #order_states li, body main .register_form__password_and_login .shift_start_time-input #order_isPaid li, body main .register_form__password_and_login .shift_end_time-input #shift_states li, body main .register_form__password_and_login .shift_end_time-input #order_states li, body main .register_form__password_and_login .shift_end_time-input #order_isPaid li, body main .register_form__password_and_login .shift_status-input #shift_states li, body main .register_form__password_and_login .shift_status-input #order_states li, body main .register_form__password_and_login .shift_status-input #order_isPaid li,
body main .register_form__password_and_login .order_status-input #shift_states li,
body main .register_form__password_and_login .order_status-input #order_states li,
body main .register_form__password_and_login .order_status-input #order_isPaid li, body main .register_form__password_and_login .order_isPaid-input #shift_states li, body main .register_form__password_and_login .order_isPaid-input #order_states li, body main .register_form__password_and_login .order_isPaid-input #order_isPaid li, body main .submit-and-advice .login-input #shift_states li, body main .submit-and-advice .login-input #order_states li, body main .submit-and-advice .login-input #order_isPaid li, body main .submit-and-advice .password-input #shift_states li, body main .submit-and-advice .password-input #order_states li, body main .submit-and-advice .password-input #order_isPaid li, body main .submit-and-advice .role-input #shift_states li, body main .submit-and-advice .role-input #order_states li, body main .submit-and-advice .role-input #order_isPaid li, body main .submit-and-advice .firstname-input #shift_states li, body main .submit-and-advice .firstname-input #order_states li, body main .submit-and-advice .firstname-input #order_isPaid li, body main .submit-and-advice .lastname-input #shift_states li, body main .submit-and-advice .lastname-input #order_states li, body main .submit-and-advice .lastname-input #order_isPaid li,
body main .submit-and-advice .patronimyc-input #shift_states li,
body main .submit-and-advice .patronimyc-input #order_states li,
body main .submit-and-advice .patronimyc-input #order_isPaid li, body main .submit-and-advice .birthday-input #shift_states li, body main .submit-and-advice .birthday-input #order_states li, body main .submit-and-advice .birthday-input #order_isPaid li, body main .submit-and-advice .gender-input #shift_states li, body main .submit-and-advice .gender-input #order_states li, body main .submit-and-advice .gender-input #order_isPaid li, body main .submit-and-advice .telephone-input #shift_states li, body main .submit-and-advice .telephone-input #order_states li, body main .submit-and-advice .telephone-input #order_isPaid li, body main .submit-and-advice .email-input #shift_states li, body main .submit-and-advice .email-input #order_states li, body main .submit-and-advice .email-input #order_isPaid li,
body main .submit-and-advice .shift_date-input #shift_states li,
body main .submit-and-advice .shift_date-input #order_states li,
body main .submit-and-advice .shift_date-input #order_isPaid li, body main .submit-and-advice .shift_start_time-input #shift_states li, body main .submit-and-advice .shift_start_time-input #order_states li, body main .submit-and-advice .shift_start_time-input #order_isPaid li, body main .submit-and-advice .shift_end_time-input #shift_states li, body main .submit-and-advice .shift_end_time-input #order_states li, body main .submit-and-advice .shift_end_time-input #order_isPaid li, body main .submit-and-advice .shift_status-input #shift_states li, body main .submit-and-advice .shift_status-input #order_states li, body main .submit-and-advice .shift_status-input #order_isPaid li,
body main .submit-and-advice .order_status-input #shift_states li,
body main .submit-and-advice .order_status-input #order_states li,
body main .submit-and-advice .order_status-input #order_isPaid li, body main .submit-and-advice .order_isPaid-input #shift_states li, body main .submit-and-advice .order_isPaid-input #order_states li, body main .submit-and-advice .order_isPaid-input #order_isPaid li {
  margin-bottom: 2%;
}
body main .logIN_form__password_and_login .login-input #shift_states li:last-child, body main .logIN_form__password_and_login .login-input #order_states li:last-child, body main .logIN_form__password_and_login .login-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .password-input #shift_states li:last-child, body main .logIN_form__password_and_login .password-input #order_states li:last-child, body main .logIN_form__password_and_login .password-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .role-input #shift_states li:last-child, body main .logIN_form__password_and_login .role-input #order_states li:last-child, body main .logIN_form__password_and_login .role-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .firstname-input #shift_states li:last-child, body main .logIN_form__password_and_login .firstname-input #order_states li:last-child, body main .logIN_form__password_and_login .firstname-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .lastname-input #shift_states li:last-child, body main .logIN_form__password_and_login .lastname-input #order_states li:last-child, body main .logIN_form__password_and_login .lastname-input #order_isPaid li:last-child,
body main .logIN_form__password_and_login .patronimyc-input #shift_states li:last-child,
body main .logIN_form__password_and_login .patronimyc-input #order_states li:last-child,
body main .logIN_form__password_and_login .patronimyc-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .birthday-input #shift_states li:last-child, body main .logIN_form__password_and_login .birthday-input #order_states li:last-child, body main .logIN_form__password_and_login .birthday-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .gender-input #shift_states li:last-child, body main .logIN_form__password_and_login .gender-input #order_states li:last-child, body main .logIN_form__password_and_login .gender-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .telephone-input #shift_states li:last-child, body main .logIN_form__password_and_login .telephone-input #order_states li:last-child, body main .logIN_form__password_and_login .telephone-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .email-input #shift_states li:last-child, body main .logIN_form__password_and_login .email-input #order_states li:last-child, body main .logIN_form__password_and_login .email-input #order_isPaid li:last-child,
body main .logIN_form__password_and_login .shift_date-input #shift_states li:last-child,
body main .logIN_form__password_and_login .shift_date-input #order_states li:last-child,
body main .logIN_form__password_and_login .shift_date-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .shift_start_time-input #shift_states li:last-child, body main .logIN_form__password_and_login .shift_start_time-input #order_states li:last-child, body main .logIN_form__password_and_login .shift_start_time-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .shift_end_time-input #shift_states li:last-child, body main .logIN_form__password_and_login .shift_end_time-input #order_states li:last-child, body main .logIN_form__password_and_login .shift_end_time-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .shift_status-input #shift_states li:last-child, body main .logIN_form__password_and_login .shift_status-input #order_states li:last-child, body main .logIN_form__password_and_login .shift_status-input #order_isPaid li:last-child,
body main .logIN_form__password_and_login .order_status-input #shift_states li:last-child,
body main .logIN_form__password_and_login .order_status-input #order_states li:last-child,
body main .logIN_form__password_and_login .order_status-input #order_isPaid li:last-child, body main .logIN_form__password_and_login .order_isPaid-input #shift_states li:last-child, body main .logIN_form__password_and_login .order_isPaid-input #order_states li:last-child, body main .logIN_form__password_and_login .order_isPaid-input #order_isPaid li:last-child, body main .register_form__password_and_login .login-input #shift_states li:last-child, body main .register_form__password_and_login .login-input #order_states li:last-child, body main .register_form__password_and_login .login-input #order_isPaid li:last-child, body main .register_form__password_and_login .password-input #shift_states li:last-child, body main .register_form__password_and_login .password-input #order_states li:last-child, body main .register_form__password_and_login .password-input #order_isPaid li:last-child, body main .register_form__password_and_login .role-input #shift_states li:last-child, body main .register_form__password_and_login .role-input #order_states li:last-child, body main .register_form__password_and_login .role-input #order_isPaid li:last-child, body main .register_form__password_and_login .firstname-input #shift_states li:last-child, body main .register_form__password_and_login .firstname-input #order_states li:last-child, body main .register_form__password_and_login .firstname-input #order_isPaid li:last-child, body main .register_form__password_and_login .lastname-input #shift_states li:last-child, body main .register_form__password_and_login .lastname-input #order_states li:last-child, body main .register_form__password_and_login .lastname-input #order_isPaid li:last-child,
body main .register_form__password_and_login .patronimyc-input #shift_states li:last-child,
body main .register_form__password_and_login .patronimyc-input #order_states li:last-child,
body main .register_form__password_and_login .patronimyc-input #order_isPaid li:last-child, body main .register_form__password_and_login .birthday-input #shift_states li:last-child, body main .register_form__password_and_login .birthday-input #order_states li:last-child, body main .register_form__password_and_login .birthday-input #order_isPaid li:last-child, body main .register_form__password_and_login .gender-input #shift_states li:last-child, body main .register_form__password_and_login .gender-input #order_states li:last-child, body main .register_form__password_and_login .gender-input #order_isPaid li:last-child, body main .register_form__password_and_login .telephone-input #shift_states li:last-child, body main .register_form__password_and_login .telephone-input #order_states li:last-child, body main .register_form__password_and_login .telephone-input #order_isPaid li:last-child, body main .register_form__password_and_login .email-input #shift_states li:last-child, body main .register_form__password_and_login .email-input #order_states li:last-child, body main .register_form__password_and_login .email-input #order_isPaid li:last-child,
body main .register_form__password_and_login .shift_date-input #shift_states li:last-child,
body main .register_form__password_and_login .shift_date-input #order_states li:last-child,
body main .register_form__password_and_login .shift_date-input #order_isPaid li:last-child, body main .register_form__password_and_login .shift_start_time-input #shift_states li:last-child, body main .register_form__password_and_login .shift_start_time-input #order_states li:last-child, body main .register_form__password_and_login .shift_start_time-input #order_isPaid li:last-child, body main .register_form__password_and_login .shift_end_time-input #shift_states li:last-child, body main .register_form__password_and_login .shift_end_time-input #order_states li:last-child, body main .register_form__password_and_login .shift_end_time-input #order_isPaid li:last-child, body main .register_form__password_and_login .shift_status-input #shift_states li:last-child, body main .register_form__password_and_login .shift_status-input #order_states li:last-child, body main .register_form__password_and_login .shift_status-input #order_isPaid li:last-child,
body main .register_form__password_and_login .order_status-input #shift_states li:last-child,
body main .register_form__password_and_login .order_status-input #order_states li:last-child,
body main .register_form__password_and_login .order_status-input #order_isPaid li:last-child, body main .register_form__password_and_login .order_isPaid-input #shift_states li:last-child, body main .register_form__password_and_login .order_isPaid-input #order_states li:last-child, body main .register_form__password_and_login .order_isPaid-input #order_isPaid li:last-child, body main .submit-and-advice .login-input #shift_states li:last-child, body main .submit-and-advice .login-input #order_states li:last-child, body main .submit-and-advice .login-input #order_isPaid li:last-child, body main .submit-and-advice .password-input #shift_states li:last-child, body main .submit-and-advice .password-input #order_states li:last-child, body main .submit-and-advice .password-input #order_isPaid li:last-child, body main .submit-and-advice .role-input #shift_states li:last-child, body main .submit-and-advice .role-input #order_states li:last-child, body main .submit-and-advice .role-input #order_isPaid li:last-child, body main .submit-and-advice .firstname-input #shift_states li:last-child, body main .submit-and-advice .firstname-input #order_states li:last-child, body main .submit-and-advice .firstname-input #order_isPaid li:last-child, body main .submit-and-advice .lastname-input #shift_states li:last-child, body main .submit-and-advice .lastname-input #order_states li:last-child, body main .submit-and-advice .lastname-input #order_isPaid li:last-child,
body main .submit-and-advice .patronimyc-input #shift_states li:last-child,
body main .submit-and-advice .patronimyc-input #order_states li:last-child,
body main .submit-and-advice .patronimyc-input #order_isPaid li:last-child, body main .submit-and-advice .birthday-input #shift_states li:last-child, body main .submit-and-advice .birthday-input #order_states li:last-child, body main .submit-and-advice .birthday-input #order_isPaid li:last-child, body main .submit-and-advice .gender-input #shift_states li:last-child, body main .submit-and-advice .gender-input #order_states li:last-child, body main .submit-and-advice .gender-input #order_isPaid li:last-child, body main .submit-and-advice .telephone-input #shift_states li:last-child, body main .submit-and-advice .telephone-input #order_states li:last-child, body main .submit-and-advice .telephone-input #order_isPaid li:last-child, body main .submit-and-advice .email-input #shift_states li:last-child, body main .submit-and-advice .email-input #order_states li:last-child, body main .submit-and-advice .email-input #order_isPaid li:last-child,
body main .submit-and-advice .shift_date-input #shift_states li:last-child,
body main .submit-and-advice .shift_date-input #order_states li:last-child,
body main .submit-and-advice .shift_date-input #order_isPaid li:last-child, body main .submit-and-advice .shift_start_time-input #shift_states li:last-child, body main .submit-and-advice .shift_start_time-input #order_states li:last-child, body main .submit-and-advice .shift_start_time-input #order_isPaid li:last-child, body main .submit-and-advice .shift_end_time-input #shift_states li:last-child, body main .submit-and-advice .shift_end_time-input #order_states li:last-child, body main .submit-and-advice .shift_end_time-input #order_isPaid li:last-child, body main .submit-and-advice .shift_status-input #shift_states li:last-child, body main .submit-and-advice .shift_status-input #order_states li:last-child, body main .submit-and-advice .shift_status-input #order_isPaid li:last-child,
body main .submit-and-advice .order_status-input #shift_states li:last-child,
body main .submit-and-advice .order_status-input #order_states li:last-child,
body main .submit-and-advice .order_status-input #order_isPaid li:last-child, body main .submit-and-advice .order_isPaid-input #shift_states li:last-child, body main .submit-and-advice .order_isPaid-input #order_states li:last-child, body main .submit-and-advice .order_isPaid-input #order_isPaid li:last-child {
  margin: 0;
}
body main .submit-and-advice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  margin: 0;
}
body footer {
  bottom: 0;
  padding: 2%;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  background: rgba(39, 52, 61, 0.25);
}
body footer .button_to_deauth {
  margin-right: auto;
}
body footer .hello_to_user_and_his_role {
  margin-right: 2%;
}
body footer .footer_highlight--user_role {
  color: rgba(255, 0, 0, 0.65);
}/*# sourceMappingURL=main.css.map */